*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* General*/

h1{color:rgba(0, 0, 0,0.7);}
h2{}
h3{
    color:rgba(0, 0, 0,0.7);
    font-size: 2em;
}
h4{color: rgba(0, 0, 0,0.7);}
h5{}

p{
    color:rgba(0, 0, 0,0.7);
    font-weight: bold; 
}

body{
    background-color: rgb(158, 158, 158);
    padding: 0px;
    margin: 0px;
    overflow: auto;
    width: 100%;
    /*
    background-color: rgb(127, 127, 187);
    */
}

a{
    text-decoration: none;
}
a:visited{color: white;}

li{
    list-style: none;
}

.borderline{
    height: 10px;
    width: 96%;
    border-radius: 5px;
    margin-left: 2%;
    opacity: 0.5;
}


/***************** Header *********************/

header{
    background: #777777 url(../images/Industrial-background.png) center no-repeat;
    height: 200px;
    position: relative;
}

header #logo{
    position: absolute;
    background: url(../images/bulk4lesslogo.png) center no-repeat;
    width: 270px;
    height: 200px;
    border-radius: 10px;
    left: -40px;
    top: -10px;
}

header .fa-cart-arrow-down{
    position: absolute;
    margin-left: 975px;
    margin-top: 50px;
    font-size: 2em;
    color: rgba(255, 255, 255, 1);
    background: rgba(111, 112, 177, 0.7);
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: underline;
    font-weight: 600;
    border: 1px white solid;
}

.fa-cart-arrow-down:hover{
    color: rgba(255, 255, 255, 0.7);
}

.fa-cart-arrow-down:before{
}

/* Nav */

nav{
    position: relative;
    top: 160px;
}

nav ul{
  position: absolute; 
  left: 300px; 
  background-color: rgba(0, 0, 0, 0.5);
}

nav ul a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
}

nav ul > li{
    display: inline-block;
    position: relative;
    border: 1px white solid;
    transition: all 0.8s ease;
}

nav ul > li:hover{
    background-color:rgba(197, 197, 197, 0.7);
}

nav ul li ul{
    position: absolute;
    left: 0px;
    top: 38px;
}

nav ul li ul > li{
    display: list-item;
    width: 200px;
    margin-left: -1px;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

nav ul li:hover ul> li{
    display: block;
}

nav ul li ul > li > a{
    width: 170px;
}

/* Special Offers Section */

#specials{
    float: left;
    background: url(../images/specialoffers.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-bottom: 2px white solid;
}
#specials:after{
    content: "";
    display: block;
    clear: both;
}

#specials h3{
    text-align: center;
    width: 50%;
    margin-top: 10px;
    margin-left: 6%;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    padding: 10px;
    line-height: 1.5em;
}

#specials a{
    background: rgba(255, 0, 0);
    padding: 5px 10px;
    font-size: 2em;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.7s ease;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 23%;
    position: absolute;
}

#specials a:hover{
    background: rgba(0, 0, 0, 0.8);
}

/* Section "Introduction" */

#intro{
    float: left;
}

.introduction{
    float: left;
    text-align: center;
    width: 32%;
    margin-top: 10px;
    border: 2px rgb(255, 255, 255) solid;
    margin-left: 9px;
    border-radius: 5px;
    height: 300px;
}
.introduction::after{
    content: "";
    display: block;
    clear: both;
}

.intro-icon{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.intro-content{
    margin-top: 20px;
}

.intro-content p{
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
}

/* Welcome Section */

#welcome{
    width: 100%;
    float: left;
    height: 300px;
    position: relative;
}
#welcome:after{
    content: "";
    display: block;
    clear: both;
}

.sectiontalk {
    position: absolute;
    width: 56%;
    border-radius: 5px;
    padding: 10px;
    top: 25px;
    left: 42%;
    height: 230px;
    background: rgba(0, 0, 255, 0.1);    
}

.sectiontalk h1{
    font-size: 2em;
    text-align: center;
    font-style: italic;
    background: linear-gradient( rgb(116, 116, 116),rgba(255, 255, 255, 0.5));
    color: rgb(64, 64, 128);
    border-radius: 5px;
    padding: 4px 9px;
    width: 50%;
    margin-left: 25%;
}

.sectiontalk p{
    margin-top: 30px;
    font-size: 1.3em;
    text-align: center;
}

.sectiontalk button{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
    /*
    background: rgba(255, 255, 255, 0.5);
    */
    background: linear-gradient(white, rgb(95, 95, 95));
    margin-left: 29%;
    top: 170px;
    outline: none;
    border: 2px rgb(92, 92, 92) solid;
    font-weight: bold;
    color: rgba(49, 49, 49, 0.8);
    transition: 0.7s ease;
}
.sectiontalk button:hover{
    /*
    background: rgba(221, 221, 221, 0.5);
    */
    background: linear-gradient(rgb(95, 95, 95), white);
    
    cursor: pointer;
}

.sectiontalk button a{
    padding: 10px 70px; 
}

.sectiontalk button a{
    display: block;
}
.sectiontalk button a:visited{color: inherit;}

.sectionpic{
    position: absolute;
    height: 246px;
    top: 25px;
    border-radius: 5px;
    left: 1.1%;
    width: 39.8%;
    border: 2px rgb(64, 64, 128) solid;
}

/* Contact Section*/

#description{
    width: 100%;
    float: left;
    height: 300px;
    position: relative;
}


#description .sectiontalk{

    left: 1.1%;
}

#description .sectionpic{

    left: 59.5%;
}

/* Reviews Section */

#reviews{
    width: 100%;
    float: left;
    border-bottom: 1px white solid;
    height: 400px;
}
#reviews::after{content: ""; display: block; clear: both;}

#comment{
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    height: 350px;
    width: 94%;
    margin-left: 3%;
}

#comment h3{
    position: absolute;
    font-size: 2.5em;
    text-decoration: underline;
    padding: 10px 0px;;
    background: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

#c-num li{
    display: inline-block;
    width: 22%;
    height: 200px;
    background:  rgba(255, 255, 255, 0.5);
    margin-top: 130px;
    margin-left: 2.25%;
    border-radius: 5px;
    position: relative;
}

#c-num li h4{
    margin-top: 10px;
    font-size: 1.5em;
    font-style: italic;
}

#c-num li .cust-review{
    position: absolute;
    background:  rgba(255, 255, 255, 0.7);
    padding: 10px;
    width: 80%;
    height: 100px;
    margin: 20px 5% 0px 5%;
    border-radius: 5px;
} 


/* Footer Section */

#footer{
    float: left;
    position: relative;
    width: 100%;
    background: url(../images/footerbackground.jpg) no-repeat;
    background-size: 100%;
}

#footer-div{
    height: 300px;
    background:  rgba(0, 0, 0, 0.9);
}

#socialmedia{
    height: 80px;
}
#footlogo{
    position: absolute;
    background: url(../images/bulk4lessfooter.png) center no-repeat;
    height: 80px;
    width: 120px;
    left: 5%;
}

#foot-border{
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
}

#socialmedia ul{
    position: absolute;
    left: 70%;
    top: 50px;
}

#socialmedia ul li{
    display: inline-block;
}

#socialmedia ul li a{
    font-size: 2em;
    margin: 0px 10px;
    text-align: center;
}

#socialmedia ul li a .fab{
    height: 30px;
    transition: 2s ease;
}
#socialmedia ul li a:hover .fab{
    transform: rotateY(360deg);
}

/* Icons */

ul .fb{
color: #3b5999;
}

ul .ig{
color: #e4405f;
}
ul .tw{
color: #55acee;
}
ul .gh{
color: white;
}

/* Footer Details */

/*info*/

#foot-info div{
    float: left;
    margin-top: 25px;
}

#foot-maininfo{
    
    margin-left: 5%;
}

#foot-maininfo p:nth-child(1){
    margin-top: 0px;
}

#foot-maininfo p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

/*hours*/

#foot-hours{
    margin-left: 10%;
}

#foot-hours p:nth-child(1){
    margin-top: 0px;
}

#foot-hours p{
    color: white;
    font-size: 0.9em;
    margin-top: 15px;
}

/*question*/

#foot-question{
    margin-left: 10%;
}

#foot-question p{
    color: white;
    font-size: .9em;
}

#foot-question li{
    margin-top: 7px;
    font-size: .9em;
}

#foot-question a{
    color: white;
}

#foot-question a:hover{
    color: rgb(114, 114, 114);
}

footer{
    margin: 180px 0px 0px 5%;
    color:rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
}


/* Media Queries */

@media screen and (max-width:1150px){

    header .fa-cart-arrow-down{
        margin-left: 777px;
    }

    #welcome .sectiontalk button{
        margin-left: 27%;
    }

}

@media screen and (max-width:1100px){

    header .fa-cart-arrow-down{
        margin-left: 777px;
    }

    #welcome .sectiontalk button{
        margin-left: 25%;
    }

}

@media screen and (max-width:1050px){

    header .fa-cart-arrow-down{
        margin-left: 700px;
    }

    nav ul{
        left: 220px;
      }

    #welcome .sectiontalk h1{
        font-size: 1.8em;
    }

    #welcome .sectiontalk button{
        margin-left: 23%;
        font-size: 1.4em;
    }

}

@media screen and (max-width:1000px){

    .introduction{
    width: 32%;
    border: 2px rgb(255, 255, 255) solid;
    margin-left: 5px;
    }

    .intro-icon{
    width: 90px;
    height: 90px;
    margin-top: 5px;
    }

    .intro-content{
    margin-top: 20px;
    }

}

@media screen and (max-width:950px){

    #welcome .sectiontalk{
        position: absolute;
        width: 50%;
        border-radius: 5px;
        padding: 5px; 
        left: 48%;
    }

    #welcome .sectiontalk h1{
        font-size: 1.6em;
    }

    #welcome .sectiontalk p{
        font-size: 1em;
    }

    #welcome .sectiontalk button{
        margin-left: 22%;
        font-size: 1.3em;
    }

    #welcome .sectionpic{
        position: absolute;
        height: 240px;
        top: 25px;
        border-radius: 5px;
        left: 15px;
        width: 45%;
    }
}

@media screen and (max-width:875px){

    header .fa-cart-arrow-down{
        margin-left: 605px;
    }

    header #logo{
        position: absolute;
        background: url(../images/bulk4lesslogo.png) center no-repeat;
        width: 270px;
        height: 200px;
        border-radius: 10px;
        left: -40px;
        top: -35px;
    }

    
    nav ul{
        left: 125px;
      }

    #welcome .sectiontalk{
        position: absolute;
        width: 56%;
        border-radius: 5px;
        padding: 5px; 
    }
}

@media screen and (max-width:775px){

    header .fa-cart-arrow-down{
        margin-left: 554px;
    }

    header #logo{
        position: absolute;
        background: url(../images/bulk4lesslogo.png) center no-repeat;
        width: 270px;
        height: 200px;
        border-radius: 10px;
        left: -40px;
        top: -35px;
    }

    
    nav ul{
        left: 75px;
      }
}

@media screen and (max-width:725px){

    header .fa-cart-arrow-down{
        margin-left: 479px;
    }

    header #logo{
        position: absolute;
        background: url(../images/bulk4lesslogo.png) center no-repeat;
        width: 270px;
        height: 200px;
        border-radius: 10px;
        left: -40px;
        top: -35px;
    }

    
    nav ul{
        left: 0px;
      }
}